body[data-presentation-mode="horizontal"] {
  overflow: hidden;
}

body[data-presentation-mode="vertical"] .slide-wrapper {
  overflow-x: hidden;
}

@media (max-width: 560px) {
  body[data-presentation-mode="horizontal"] .slide-title-text,
  body[data-presentation-mode="horizontal"] .slide-badge {
    display: none;
  }
}
