@media print {
  body {
    background: #ffffff;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #ffffff !important;
  }

  site-header {
    display: none;
  }

  .profile {
    width: 100%;
  }

  .profile > section,
  .profile > section > article,
  .profile > section > ul > li {
    break-inside: avoid;
  }

}
