@media print {
  body {
    background: #ffffff;
  }

  site-header {
    display: none;
  }

  .profile,
  .seminars {
    width: 100%;
  }

  .profile > section,
  .profile > section > article,
  .profile > section > ul > li {
    break-inside: avoid;
  }
}
